@font-face{
    font-family: InterVariable;
    src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype-variations');
    font-weight: 100 900; font-style: normal;
  }
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  :root { color-scheme: dark; }
  html, body, #app { height: 100%; background: #0b0b0c; }  